<h1>New Blog Post</h1>
<%= form_for @post do |f| %>
	<%= f.text_field :title, placeholder: "Post Title" %><br>
	<%= f.text_field :content, placeholder: "Blog Post" %><br>
	<%= f.submit "Save Post" %>
<% end %>
